.Rhistory
.Rproj.user
/data-user
/ss
/data/ss
TODO.txt
course-materials/
README-local.txt
previous-courses.txt
README.html
outline.txt
script-examples.zip
*.lnk
*.url
raster-data-in-R/
workbook.html
workbook.pdf
presentation_files/
presentation.html
presentation-day1-part1.pdf
presentation-day1-part2+day2.pdf
scan-r-glossary.pdf
/videos
glossary.synctex.gz
glossary.log
glossary.pdf
