.Rproj.user
.Rhistory
.RData
england_lsoa_2011Polygon.*
KS102EW_2596_2011SOA_NW.csv
merseyside_outline.*
sthel.*
image.pdf
map*.pdf
liverpool-20150427-intro-r-spatial-analysis-master.zip
intro-r-spatial-analysis.pdf
README.html
london-20150429-intro-r-spatial-analysis-1.1.zip
london-20150429-v1.1-hand-out.pdf
*.dbf
*.shp
*.shx
~$presentation.pptx
2013-11-10 13.39.13.jpg
2013-11-10 13.39.28.jpg
welcome-email-ldn
Handout-R-London.docx
presentation-london.pptx
england_lsoa_2011.prj
england_lsoa_2011.zip
TermsAndConditions.html
README.txt
crime.prj
materials/handout-R.pdf
materials/glossary-helpsheet.pdf
materials/classification-exercise-R.pdf
