.Rhistory
.Rproj.user
*.zip
*.dbf
*.shp
*.shx
*.prj
map*.pdf
README.txt
TermsAndConditions.html
bulk.csv
image.pdf
intro-r-spatial-analysis.pdf
materials/glossary-helpsheet.pdf
materials/handout-R.pdf
*.qpj
materials/Thumbs.db
materials/images/Thumbs.db
